.space12 {
  margin-top: 50px;
  margin-bottom: 32%;
}

.space123 {
  margin-top: 50px;
  margin-bottom: 35%;
}

h1, .title {
  color: crimson
}

h2 {
  color: green
}

.center123 {
  display: block;
  margin-left: auto;
  margin-right: auto 
}

.centerxd {
  width: 700px;
}

.centerxd1 {
  width: 700px;
}

.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.footer {
  background-color: #00008b;
  color: white;
}

.card-title, .color {
  color: #00008b;
}

.btn {
  background-color: #00008b;
}

.div {
  padding-top: 25px;
}

.active-link {
  background-color: rgb(170, 204, 238);
}