<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg bg-danger"
  color-on-scroll="100">
  <div class="container">
    <div class="navbar-translate">
      <div class="navbar-brand">
        <a href="#home">
          <img src="assets/img/web/00.jpeg" class="img-fluid" alt="Responsive image" width="10%" height="20%">
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ml-auto ">

        <li class="nav-item " >
          <a class="nav-link" href="#about" >
            About
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#services" >
            Services
          </a>
        </li>

        <li class="nav-item" >
          <a class="nav-link" href="#teams" >
            Teams
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#ourContact" >
            Contact
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#programs" >
            Programs
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#events" >
            Events
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#sponsors" >
            Sponsors
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="page-header header-filter text-center" data-parallax="true" style="background-color: white" id="abort">
  <div class="center123" ngClass.sm="centerxd" ngClass.xs="centerxd" ngClass.md="centerxd1">
    <img src="assets/img/web/00.jpeg" class="img-fluid rounded" alt="Responsive image" >
  </div>
  <div class="2">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">

      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    <div class="section text-center">

      <router-outlet></router-outlet>
      <div class="space12">
        <h1>About Us</h1>
        <h4>SWAG-PD is a 22 nd century Non-Governmental Organization which specializes in Public Speaking, Life
          Coaching, Personal Development, Leadership and Entrepreneurship, all of which are influential because
          the group is founded on the Precepts of God/Allah for Success.
          SWAG-PD is passionate about the emergence of Cameroon and Africa and believes it can be made
          possible by creating a new breed of leaders, Influential Leaders (ILs), who will be characterized by a
          strong Spirituality (the ability to go above the flesh) which will form the bases for them to become Good
          Person’s with Stamina (GPSs) who will move Africa from Mediocrity to Excellence.
          SWAG-PD assists Youths (between 15-35 years) in getting to their Full Potential by helping them find
          their Purpose and living it to the Fullest. To become part of SWAG-PD, the prospective Influential Leader
          is obliged to go through TIL’s Full Potential Programme (TFPP).
          SWAG-PD’s big vision is to put Jesus Christ at the centre of Cameroonian and African Leadership and
          Entrepreneurship to move them from Mediocrity to Excellence. SWAG-PD believes that Cameroon and
          Africa are the promised Nation and Continent respectively but that will only be possible with Jesus Christ
          at the centre of everything. <br>
          “SWAG-PD, CREATING INFLUENTIAL LEADERS”</h4>
        <div id="services"></div>
      </div>

      <div class="space12" ngClass.xs="space123">
        <h1>Our Services</h1>
        <div fxLayout="row wrap" fxLayoutWrap fxLayoutGap="25px" fxLayout.xs="column" fxLayout.sm="column" class="div" >

          <div fxFlex="calc(50% - 25px)">
            <mat-card class="example-card mat-elevation-z15">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                  <h2 class="color">Influential Public Speaking (IPS)</h2>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <p>
                  Influential public speaking aims at helping the trainee become capable of communicating a
                  visison. This is as a result of the fact that as co-creators and like the overall creator was
                  talking at the beginning to create the world, we too should talk like that to create change. It
                  is influential of course because it is founded on the Principles/Precepts of God/Allah.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="calc(50% - 25px)">
            <mat-card class="example-card mat-elevation-z15">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                  <h2 class="color">Influential Life Coaching (ILC)</h2>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <p>
                  Life coaching is that aspect of SWAG-PD that enables any trainee/menber to get the
                  required guidance towards his/her Full Potential. Just as God was a coach in the creating
                  story, SWAG-PD coaches people to drive them towards perfection. Life Coaching in SWAG-
                  PD is of course founded on the Principles of God/Allah, hence Influential.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div fxLayout="row" fxLayoutWrap fxLayoutGap="25px" fxLayout.xs="column" fxLayout.sm="column" class="div" >
          <div fxFlex="calc(50% - 25px)">
            <mat-card class="example-car15 mat-elevation-z8">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                  <h2 class="color">Influetial Leadership</h2>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <p>
                  Leadership is influence and SWAG-PD believes that true influence comes from the inner
                  person (the Holy Spirit) which is as a result of a Belief System (SWAG-PD’s Belief System
                  is the Holy Bible) and this kind of leadership is that which provides followers with their Real
                  Needs. This kind of leadership occurs only when the person is at least on the path to his/her
                  Purpose or has already found Purpose. We teach trainees and assist our members to
                  influence others with their Gift.
                </p>
              </mat-card-content>
            </mat-card>
          </div>

          <div fxFlex="calc(50% - 25px)">
            <mat-card class="example-card mat-elevation-z15">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                  <h2 class="color">Influential Personal Development (IPD)</h2>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <p>
                  This component is the area of training and coaching in which SWAG-PD through its various
                  operations helps trainees and members to organize and discover who they are. SWAG-PD
                  believes that you cannot lead others without leading yourself hence the need to do a
                  Personal development that permits you to find you Gift/Talent/Potential as well as your
                  Purpose that puts you on the platform for Greatness. It of course is Influential.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
      
        </div>

        <div fxLayout="row" fxLayoutWrap fxLayoutGap="25px" fxLayout.xs="column" fxLayout.sm="column" class="div" >
          <div fxFlex="calc(50% - 25px)">
            <mat-card class="example-card mat-elevation-z15">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                  <h2 class="color">Influential Entreprenurship</h2>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <p>
                  Man was created to be an Entrepreneur as expressed in Gen 1:28-30 when man was asked
                  to manage everything on earth. Once there are different kinds of animals/people, there is
                  bound to be conflict and such situations needs Problem Solvers/Entrepreneurs/Solution
                  Finders. SWAG-PD trains and coaches people on how to maximize their
                  Gifts/Talents/Potentials in a manner that will help solve problems. Worthy of not is the fact
                  that SWAG-PD believes that Entrepreneurship is an evolution and not a revelation and that
                  true Entrepreneurship can never be void of God/Allah/Buddha.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="calc(50% - 25px)">

          </div>

        </div>
        <div id="teams"></div>
      </div>

      <div class="space12">
        <h1>Our Teams</h1>

        <div fxLayout="row inline" fxLayoutGap="25px" fxLayout.xs="column" fxLayoutGap.sm="25px">
          <div fxFlex="calc(30% - 25px)" fxFlexAlign.lt-md="center" class="item">

            <img src="assets/img/web/50.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
            <p>Ayah Abine
              <br>
              <span class="title"> President & CEO </span>
            </p>

          </div>
          <div fxFlex="calc(30% - 25px)" fxFlexAlign.lt-md="center" class="item">

            <img src="assets/img/web/53.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
            <p>Promise Echujie
              <br>
              <span class="title"> Vice President </span>
            </p>
          </div>
          <div fxFlex="calc(30% - 25px)" fxFlexAlign.lt-md="center" class="item">

            <img src="assets/img/web/20.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
            <p>Akola Cyril Njume <br>
              <span class="title"> VP i/c Finance & Development</span>
            </p>
          </div>
        </div>

        <div fxLayout="row inline" fxLayoutGap="25px" fxLayout.xs="column" fxLayoutGap.sm="25px" >
          <div fxFlex="calc(30% - 25px)" fxFlexAlign.lt-md="center" class="item">

            <img src="assets/img/web/31.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
            <p>Vennessa Etara Bende
              <br>
              <span class="title"> President & Financial Secretary</span>
            </p>
          </div>
          <div fxFlex="calc(30% - 25px)" fxFlexAlign.lt-md="center" class="item">

            <img src="assets/img/web/56.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
            <p>Mervis Sehbing <br>
              <span class="title"> Secretary General</span>
            </p>
          </div>
          <div fxFlex="calc(30% - 25px)" fxFlexAlign.lt-md="center" class="item">

            <img src="assets/img/web/74.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
            <p>Sevidzem Belita Semernyuy <br>
              <span class="title"> Treasurer</span>
            </p>
          </div>
        </div>

        <div fxLayout="row inline" fxLayoutGap="25px" fxLayout.xs="column" fxLayoutGap.sm="25px"  >
          <div fxFlex="calc(30% - 25px)" fxFlexAlign.lt-md="center" class="item">

            <img src="assets/img/web/32.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
            <p>Olloumou Servigne <br>
              <span class="title"> Public Relations & Communications Coordinator</span>
            </p>
          </div>
          <div fxFlex="calc(30% - 25px)" fxFlexAlign.lt-md="center" class="item">

            <img src="assets/img/web/37.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
            <p>Tebue Nancy Danielle <br>
              <span class="title"> Quality Assurance & Implementation Coordinator</span>
            </p>
          </div>
          <div fxFlex="calc(30% - 25px)" fxFlexAlign.lt-md="center" class="item">

            <img src="assets/img/web/7.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
            <p>Nain Louisa <br>
              <span class="title"> Events Coordinator</span>
            </p>
          </div>
        </div>


        <div fxLayout="row inline" fxLayoutGap="25px" fxLayout.xs="column" fxLayoutGap.sm="25px" >
          <div fxFlex="calc(30% - 25px)" fxFlexAlign.lt-md="center" class="item">

            <img src="assets/img/web/10.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
            <p>Fotso Edouard <br>
              <span class="title"> Logistics & Sound Engineer</span>
            </p>
          </div>
          <div fxFlex="calc(30% - 25px)" fxFlexAlign.lt-md="center" class="item">

            <img src="assets/img/web/48.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
            <p>Ndifor Godfred M. N. <br>
              <span class="title"> Projects, Spiritual & Community Outreach Coordinator. </span>
            </p>
          </div>
          <div fxFlex="calc(30% - 25px)" fxFlexAlign.lt-md="center" class="item">

            <img src="assets/img/web/16.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
            <p>Etu Valery Ayamba <br>
              <span class="title"> Social Media & Web Coordinator</span>
            </p>
          </div>
        </div>

        <div fxLayout="row inline" fxLayoutGap="25px" fxLayout.xs="column" fxLayoutGap.sm="25px">
          <div fxFlex="calc(30% - 25px)" class="item" fxFlexAlign="center center">

            <img src="assets/img/web/8.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
            <p>Dolvie Ndifor <br>
              <span class="title"> Adviser</span>
            </p>
          </div>
          <div fxFlex="calc(30% - 25px)">

          </div>

          <div fxFlex="calc(50% - 25px)" fxHide>


          </div>

        </div>
        <div id="ourContact"></div>
      </div>

      <div class="space12" ngClass.xs="space123">
        <h1> Contact Us</h1>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="25px" fxLayout.xs="column" fxLayout.sm="column">
          <div fxFlex="calc(35% - 25px)">
            <div>
              <h3 class="color">SWAG-PD South West Region Cameroon.</h3>
            </div>
            <div fxLayout="row" fxLayoutGap="30px" fxLayoutGap.xs="0px" fxLayout.xs="column">
              <div>
                <h4>Email:</h4>
              </div>
              <div>
                <h4> swagpd2017@gmail.com ayahabine@gmail.com </h4>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="30px" fxLayoutGap.xs="0px" fxLayout.xs="column">
              <div>
                <h4>Tel:</h4>
              </div>
              <div>
                <h4>(+237) 675 813 104</h4>
              </div>
            </div>
          </div>
          <div fxFlex="calc(35% - 25px)">
            <div id="map" style="width:100%;height:300px"></div>
            <span class="color">Location – Chatered Higher Institute of Technology & Management
              (CHITECHMA)</span>

          </div>
          <div fxFlex="calc(30% - 25px)">
            <h3 class="color">Contact Us</h3>
            <form class="gform" method="post"
              action="https://script.google.com/macros/s/AKfycbypH5t5A8NAHhHWrTsv9FcIeIE28ng57Hu8JNU/exec">
              <div class="form-elements124">
                <div fxLayout="row" fxLayoutWrap fxLayoutGap="25px" fxLayout.xs="column">
                  <div class="form-group" fxFlex="calc(50% - 25px)">
                    <label for="exampleFormControlInput1">Full Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                  </div>
                  <div class="form-group" fxFlex="calc(50% - 25px)">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="email" name="email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Message</label>
                  <textarea class="form-control" id="message" rows="5" name="message"></textarea>
                </div>
                <div>
                  <button class="btn btn-sm" type="submit" (click)="send()">Send message</button>
                </div>
              </div>
            </form>

          </div>
        </div>
        <div id="programs"></div>
      </div>

      <div class="space12" ngClass.xs="space123">
        <h1> Our Programs</h1>

        <div fxLayout="row" fxLayoutWrap fxLayoutGap="25px" fxLayout.xs="column" fxLayout.sm="column">
          <div fxFlex="calc(50% - 25px)">

            <div class="card mb-3">
              <img class="card-img-top" src="assets/img/web/Commencement.JPG" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Conferences</h4>
                <p class="card-text">
                  SWAG-PD organizes conferences to meet the needs as made relevant by sorrounding
                  conditions. These conferences could either be restricted or open but the overall aim is
                  always to discuss ways in which we can move Cameroon & Africa forward amidst the
                  surrounding challenges which make the journey interesting.
                </p>
              </div>
            </div>

          </div>
          <div fxFlex="calc(50% - 25px)">

            <div class="card mb-3">
              <img class="card-img-top" src="assets/img/web/Workshop.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Training Workshops</h4>
                <p class="card-text">
                  SWAG-PD organizes a wide range of training workshops based on the need identified either
                  by SWAG-PD or based on the recommendation or request of a partner, and individual,
                  organization, company or group. Such workshops will have as objective to help these
                  different individuals or units to maximize the Potentials/Talents/Gifts they have in order to
                  get the best output.
                </p>
              </div>
            </div>

          </div>
        </div>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="25px" fxLayout.xs="column" fxLayout.sm="column">
          <div fxFlex="calc(50% - 25px)">

            <div class="card mb-3">
              <img class="card-img-top" src="assets/img/web/P-ILsCommencement.JPG" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">TIL’s Full Potential Programme (TFPP)</h4>
                <p class="card-text">
                  TFPP is a 4months training programme hosted by SWAG - PD which aims at creating
                  Influential Leaders. This is the entrance gate into SWAG – PD as any person who intends
                  to join is mandated to go through the programme. It is a programme which intends to take
                  the trainees from a “loser” to a winner, from a person of low self-esteem to one of high self-
                  esteem and from an “existing” person to one who is “living” and ready to drive to his/her full
                  potential. SWAG-PD trains one TFPP batch per year.
                </p>
              </div>
            </div>

          </div>
          <div fxFlex="calc(50% - 25px)">

            <div class="card mb-3">
              <img class="card-img-top" src="assets/img/web/MaidenSeminar.JPG" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Seminars</h4>
                <p class="card-text">
                  SWAG-PD equally organizes seminars either as a result of a gap they have noticed or based
                  on the request from an individual, organization, company or group. The main aim in such
                  cases is to see how to help the trainess or participants pick up both theoritical and practical
                  skills on how to drive to their Full Potential.
                </p>
              </div>
            </div>

          </div>
        </div>

        <div fxLayout="row" fxLayoutWrap fxLayoutGap="25px" fxLayout.xs="column" fxLayout.sm="column">
          <div fxFlex="calc(50% - 25px)">

            <div class="card mb-3">
              <img class="card-img-top" src="assets/img/web/Seminar.JPG" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">ICT Lessons</h4>
                <p class="card-text">
                  Upon strong consideration of a rapidly changing landscape especially in terms of
                  Technology, SWAG-PD organizes programmes that permit youths to pick up basic skills in
                  technology that will help them assert themselves and become more influential and
                  successful. In special cases, such a program might be organized to address a special need
                  as necessitated by the conditions that abound.
                </p>
              </div>
            </div>

          </div>
          <div fxFlex="calc(50% - 25px)">

          </div>
        </div>

        <div id="events"></div>
      </div>

      <div class="space12" ngClass.xs="space123">
        <h1> Past Events</h1>

        <div fxLayout="row inline" fxLayoutGap="25px" fxLayout.xs="column" fxLayoutGap.sm="25px">
          <div fxFlex="calc(50% - 25px)" fxFlexAlign.lt-md="center">

            <div class="card mb-3">
              <img class="card-img-top" src="assets/img/web/Seminar.JPG" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">SWAG-PD Maiden Seminar</h4>
              
              </div>
            </div>
          </div>
          <div fxFlex="calc(50% - 25px)" fxFlexAlign.lt-md="center">
            <div class="card mb-3">
              <img class="card-img-top" src="assets/img/web/seminar2.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">SWAG-PD Helif Seminar</h4>
               
              </div>
            </div>

          </div>
        </div>
        <div fxLayout="row inline" fxLayoutGap="25px" fxLayout.xs="column" fxLayoutGap.sm="25px">
          <div fxFlex="calc(50% - 25px)" fxFlexAlign.lt-md="center">

            <div class="card mb-3">
              <img class="card-img-top" src="assets/img/web/ILs.JPG" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Training of the 1 st Batch of Influential Leaders (Trailblazing ILs)</h4>
               
              </div>
            </div>
          </div>
          <div fxFlex="calc(50% - 25px)" fxFlexAlign.lt-md="center">
            <div class="card mb-3">
              <img class="card-img-top" src="assets/img/web/session.jpg" alt="Card image cap">

              <div class="card-body">
                <h4 class="card-title">Training of the 2 nd Batch of Influential Leaders (Pacesetting ILs)</h4>
               
              </div>
            </div>
          </div>
        </div>

        <div fxLayout="row inline" fxLayoutGap="25px" fxLayout.xs="column" fxLayoutGap.sm="25px">
          <div fxFlex="calc(50% - 25px)" fxFlexAlign.lt-md="center">
            <div class="card mb-3">
              <img class="card-img-top" src="assets/img/web/commissioning.JPG" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">CYA-BMAT Skill Fair</h4>
               
              </div>
            </div>
          </div>
          <div fxFlex="calc(50% - 25px)" fxFlexAlign.lt-md="center">

          </div>
        </div>
        <div id="sponsors"></div>

        <h1> Upcoming Events</h1>
        <div fxLayout="row wrap" fxLayoutWrap fxLayoutGap="25px" fxLayout.xs="column" fxLayout.sm="column" class="div" >

          <div fxFlex="calc(50% - 25px)">
            <mat-card class="example-card mat-elevation-z15">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                  <h2 class="color">Maiden Computer Training Program</h2>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>
               
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="calc(50% - 25px)">
            <mat-card class="example-card mat-elevation-z15">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                  <h2 class="color">Seminar on “The African Value”</h2>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>
                
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutWrap fxLayoutGap="25px" fxLayout.xs="column" fxLayout.sm="column" class="div" >

          <div fxFlex="calc(50% - 25px)">
            <mat-card class="example-card mat-elevation-z15">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                  <h2 class="color">Training of the 3 rd Batch of Influential Leaders (Knight ILs)</h2>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>
               
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="calc(50% - 25px)">
            <mat-card class="example-card mat-elevation-z15">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                  <h2 class="color">Book Launch</h2>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>
                
              </mat-card-content>
            </mat-card>
          </div>
        </div>
       
      </div>

      <div class="space12" ngClass.xs="space123">
        <h1>Sponsors</h1>
        <div fxLayout="row " fxLayoutGap="25px" fxLayout.xs="column">
          <div fxFlex="calc(50% - 25px)" class="item">
            <img src="assets/img/web/Logo.jpg" class="img-fluid " alt="Responsive image" width="50%" height="20%">
          </div>
          <div fxFlex="calc(50% - 25px)" class="item">
            <img src="assets/img/web/LDTVLogo.jpg" class="img-fluid " alt="Legacy Development Television" width="50%"
              height="20%">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<footer class="footer footer-default">
  <div class="container">
    <div fxLayout="row " fxLayoutGap="25px" fxLayout.xs="column">
      <div fxFlex="calc(30% - 25px)">
        <h4>Follow us on <a href="https://www.facebook.com/ils.tfpp.swagpd/" target="_blank">
            <img src="assets/img/web/face.png" class="img-fluid " alt="facebook" width="10%" height="10%">
          </a>
        </h4>
      </div>
      <div fxFlex="calc(30% - 25px)">
        {{time}}
      </div>

      <div class="copyright float-right" fxFlex="calc(30% - 25px)">
        swagpd,
        &copy;
        2019 All right reserved.
      </div>
    </div>

  </div>
</footer>